*{
	touch-action: none;
}
.publicPas{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	display: none;
}
.publicPas>div{
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #F5F5F7;
	padding: 0 1rem;
}
.publicPasTitle{
	display: flex;
	width: 100%;
	justify-content: center;
	font-size: 0.75rem;
	color: #333;
	position: relative;
	margin-top: 0.5rem;
}
.publicPasTitle>p{
	position: absolute;
	top: -50%;
	right: -0.5rem;
	margin: 0;
	
}
.mui-icon-closeempty:before{
	font-size: 2rem;
}
.rangeBox>.rangeText{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 0.75rem;
}
.rangeBox>p{
	margin: 0.37037rem 0;
}
.speed{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 0.65rem;
	color: #6F6F6F;
	margin-top: 0.5rem;
}
.rangeBox>.rangeText>div{
	display: flex;
	align-items: baseline;
	font-size: 0.888888rem;
}
.rangeBox>.rangeText>div>p{
	margin-left: 0.185185rem;
}
.publicPasInput{
	margin-top: 1rem;
}
.publicPasInput>input{
	border: none;
	border-bottom: 1px solid #00b07c;
	background: transparent;
	width: 100%;
	font-size: 0.666666rem;
	padding-bottom: 0.185185rem;
	margin-top: 0.25rem;
}
.publicPasBut{
	display: flex;
	justify-content: center;
	margin: 0.925925rem 0;
}
.publicPasBut>button{
	width: 13.333333rem;
	height: 2.166666rem;
	color: #fff;
	background: #00b07c;
	text-align: center;
	font-size: 0.888888rem;
}